*{margin: 0; 
border: 0; 
padding: 0;
font-family: "times new roman", H-云林黑体, 微软雅黑; /**/
}
::-webkit-scrollbar {
/*display: none;隐藏滚轮 */
}
.bg1{
    width: 100vw;
    height: 100vh;
    background-color: #FFEDDD;


//#577CB3;
    /*   background-image: url('../src/fuji.jpg');
  background-size: 100% ;
  background-repeat: no-repeat;*/
    z-index: 2;

}

/*.bg1:after{
content: "";
  width: 100%;
  height: 100%;
position:absolute;
left:0; top:0;
background: inherit;
z-index:2;
}*/

.box{
  width: 70vw;
  height: 80vh;
  text-align: center;
  position: absolute;
  left: 15vw;
  top: 10vh;
  /*background-color: #e2e2e2;*/
  background-image: url('../src/fuji.jpg');
  background-size: 100% ;
  background-repeat: no-repeat;
  border-radius: 10px;
    z-index: 3;
}

.index-title{
  position: relative;
  top: 20vh;
  color: #F869A6;
	text-shadow: 0em 0em 0.1em #fff;
/*color: #1ABC9C;*/
	/*color: #FFFFFF;*/

}

.searchbar{
  width: 60vw;
  /* left: 10vw; */
  top: 32vh;
  position: relative;
}
.selectbox{
  /* padding-right: 100px; */
}
.searchmode{
  width: 100%;
}
#saveBtn{
  width: 100%;
}

/* -------------------------------------------- */

.box2{
    width: 70vw;
    top: 0px;
    height: 100vh;
    text-align: center;
    position: fixed;
    left:15vw;
    background-color: #FFEDDD;
    border-radius: 6px;
    z-index: 20;
}
#dicsearch{
  width: 17vw;
}
.dicindex{
  width: 11vw;
  height: 35vh;
  position: fixed;
  bottom: 0.8vh;
  left: 1vw;
  box-shadow: 2px 2px 3px #aaaaaa;
  overflow-y: hidden;
    background-color: rgba(240,240,240);
  transition:height 0.3s;
  -moz-transition:height 0.3s; /* Firefox 4 */
  -webkit-transition:height 0.3s; /* Safari and Chrome */
  -o-transition:height 0.3s; /* Opera */

}
.dicindex-close{
  height: 10vh;

  transition:height 0.3s;
  -moz-transition:height 0.3s; /* Firefox 4 */
  -webkit-transition:height 0.3s; /* Safari and Chrome */
  -o-transition:height 0.3s; /* Opera */

}
.indexbox{
  overflow-y: scroll;
  height: 23vh;
  margin-top: 5px;
}
.indexlink{
  color: #717171;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: left;
  cursor: pointer;

  /* -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none; */
}
#indexbtn{
  position: absolute;
  width: 9.5vw;
  bottom: 8px;
}
.indexlink-active{
  font-size:16px;
  color:#1ABC9C;
}
.articlebox{
  height: 88vh;
  overflow-y: scroll;
}
.headtitle{
  text-align: left;
  margin-left: 2vw;
}
.headline{
  background-color: #34495E;
  height: 2px;
  border: 1px 1px 1px 1px #34495E solid;
  width: 93.6%;
  left: 2.2vw;
  margin-bottom: 10px;
  position: relative;
}
.rootbox{
  padding-left: 3vw;
  padding-right: 3vw;
  text-align: left;
  /* background-color: #e9e9e9; */
  border: 2px solid #717171;
  width: 93.6%;
  left: 3.2%;
  position: relative;
  margin-top: 5px;
  margin-bottom: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 6px;
}
.roottitle{
  font-weight: bold;
  font-size: 1.2em;
}
.rootsummary{
  padding-left: 1.5em;
  font-weight: normal;
  /* position: absolute;
  left: 4em; */
}
.arrow{
  background-image: url(../src/arrow.png);
  background-size:100% 100%;
  width: 21.5px;
  height: 14.5px;
  display: inline-block;
  position: absolute;
  right: 18px;
  top: 14px;
  cursor: pointer;

  transition:transform 0.3s;
  -moz-transition:transform 0.3s; /* Firefox 4 */
  -webkit-transition:transform 0.3s; /* Safari and Chrome */
  -o-transition:transform 0.3s; /* Opera */
}
.arrow-open{
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
}


.otherbox{
  height: 88vh;
  overflow-y: scroll;
}
.helpbox{
  height: 88vh;
  overflow-y: scroll;
}
.diabox{
  height: 88vh;
  overflow-y: scroll;
}
/*#backTop{
    opacity: 1;
    position: fixed;
    z-index: 5;
    bottom: 0;
    right: 0;
    height: 258px;
    width: 172px;
    background: url('../src/back2top1.png');
    /* background-size: 100% 100%; */
    cursor: pointer;
    background-position: 0 0;
}*/
/* 导航栏文字 */
.navbar-nav>li>a{
  font-size: 1em;
}

.text-center{
	color: #FFFFFF
}

.listsearchbox{
  width:12vw;
  height: 50vh;
  position: fixed;
  bottom: 0.8vh;
  right: 1vw;
  overflow-y: hidden;
  z-index:12000;
}
.searchlist{
  overflow-y: hidden;
  height: 10vh;
  margin-top: 5px;
}
.listlink{
  color: #717171;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: left;
  cursor: pointer;
  overflow-y: hidden;
}

/* 搜索框左侧 */
.form-control, .select2-search input[type=text]{
  border: 2px solid #F869A6;
  box-shadow: 0em 0em 0.3em #fff;
}

.input-group .form-control:focus {
  box-shadow: 0em 0em 0.3em #fff;
}
/* 搜索框右侧 */
.input-group-btn .btn{
  border: 2px solid #F869A6;
  box-shadow: 0em 0em 0.3em #fff;
}
/* 搜索图标 */
.input-group-btn .btn{
  color: #F869A6;
  background-color:#fff;
  border-color: #F869A6;
}

.select-primary .select2-choice:hover, .select-primary .select2-choice.hover, .select-primary .select2-choice:focus, .select-primary .select2-choice:active {
    color: #fff;
    background-color: #FF9BCD;/*#48c9b0*/
	border-color:#FF9BCD;
	}
.select-primary .select2-choice {
    color: #fff;
    background-color:#F869A6;/*#1abc9c*/
}
.btn-primary {
    color: #fff;
    background-color: #F869A6;
	box-shadow: 0em 0em 0.3em #fff;
}
.btn-primary:hover,.btn-primary.hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #FF9BCD;
}

.select2-drop .select2-highlighted>.select2-result-label {
    color: #fff;
	background: #F869A6;
	}

.text-center{
  color: #F869A6;
text-shadow: 0em 0em 0.2em #fff;}

.collapse, .navbar-collapse, #navbar-collapse-5{
background-color:#F869A6;
}

.input-group-btn>.btn>.fui-search{
    color: #C0C7CF;
}

.navbar-inverse .navbar-form .form-control, .navbar-inverse .navbar-form .select2-search input[type=text] {
    background-color: #fff;
    border-color: transparent;
}

.btn#searchbtn{
background-color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #1abc9c;
font-size: large;
}

.login-link {
    background-color: rgba(240,240,240,0.8);
}

@media screen and (max-width: 1024px){
	.box2{
		width: 100vw;
		left:0px;
	}
	.listsearchbox, .indexbox{
		visibility: hidden;
	}
	h4.headtitle, div.roottitle, span.rootsummary{
		font-size:18px;
	}
	div.rootcontent{
		font-size:16px;
	}
	h2.index-title{
		font-size:35px;
	}
	.box{
		background-image: url('../src/girl.png');
	}
	img{
		width: 60px;
	}
	.searchbar>p{
		font-size: 15px;
	}
	div.input-group{
		width:90vw; margin:0 auto;
	}
	div.navbar-header, .navbar-form{
		background-color: #F869A6;
	}
	.phone{
		background-color: #F869A6;
		color: #fff;
	}
	.phone>span{
		display: inline-block;
		height:30px;
	}
	span.active{
		background-color: #1abc9c;
	}
	.navb{
		color: #fff;
	}
	.navbar-inverse{
		background-color: #F869A6;
		color: #F869A6;
	}
	.navbar-inverse .navbar-form {
	    border-color: #F869A6;
	    border-width: 0 0;
	}
} 